/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #FFFEF8;
	width: 100%;
	font-family: 'Work Sans';
	font-size: 14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px;
}

.edit {
	background-color: black;
	color: white;
	width: 1440px;
	height: 39px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw; 
	position: fixed;
	left: 0; 
	top: 0; 
	z-index: 1000; /* Assurez-vous que la bande est visible */
}

.edit a {
	color: white;
	text-decoration: none;
}

 /*MODAL */

.modal {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1001;
}

.modal-wrapper {
	background-color: #FFFFFF;
	width: 433px;
	height: 588px;
	border-radius: 10px;
	padding: 20px;
	max-width: calc(100vh - 20px);
	max-height: calc(100vh - 20px);
	overflow: auto;
}

.close-modal {
    background-color: white; /* Couleur de fond blanche */
    border: none; /* Pas de bordure */
    font-size: 24px; /* Taille de la flèche */
    width: 24px;
    height: 24px;
	position: absolute;
	margin-left: 25rem;
    cursor: pointer; /* Changement du curseur au survol */
}

#title-modal {
	color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	line-height: 30.5px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	margin: 2rem;
}

.modal-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 27rem;
}

.add-photo-button {
	border-radius: 50px;
	font-size: 14px;
	width: 237px;
	height: 36px;
	top: 1267px;
	left: 600px;
	border-radius: 60px 60px 60px 60px;
	background: #1D6154;
	color: white;
	cursor: pointer;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154;
}

.fa-pen-to-square {
	font-size: 14px;
	margin-right: 0.5rem;
}

a {
    text-decoration: none;
}

.js-modal {
	color: black;
	font-size: 10px;
	margin-left: 2rem;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	cursor: pointer;
}

nav a {
	color: black;
	text-decoration: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/* Filtres */

.filters {
	align-items: center;
	display: flex;
	gap: 15px;
	justify-content: center;
	margin-bottom: 60px;
	margin-top: 20px;
}
.filters div {
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: #1D6154;
	cursor: pointer;
	font-family: 'Syne', sans-serif;
	padding: 10px 25px 10px 25px;
}
.filters div:hover {
	color: white;
	background-color: #1D6154;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

