/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background: #FFFEF8;
	width: 100%;
	font-family: 'Work Sans';
	font-size: 14px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	max-width: 1140px;
	margin:auto;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	display: flex;
	justify-content: space-between;
	margin: 50px;
}

.edit {
	background-color: black;
	color: white;
	width: 1440px;
	height: 39px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw; 
	position: fixed;
	left: 0; 
	top: 0; 
	z-index: 1000; /* Assurez-vous que la bande est visible */
}

.edit a {
	color: white;
	text-decoration: none;
}

 /*MODAL */

.modal {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	z-index: 1001;
}

.modal-wrapper {
	background-color: #FFFFFF;
	width: 630px;
	height: 648px;
	border-radius: 10px;
	padding: 20px;
	max-width: calc(100vh - 20px);
	max-height: calc(100vh - 20px);
	overflow: auto;
}

.close-modal {
    background-color: white; /* Couleur de fond blanche */
    border: none; /* Pas de bordure */
    font-size: 24px; /* Taille de la flèche */
    width: 24px;
    height: 24px;
	position: absolute;
	margin-left: 36rem;
	margin-top: 0rem;
    cursor: pointer; /* Changement du curseur au survol */
}

.gallery_modal {
	height: 450px;
	top: 796px;
	left: 510px;
	align-items: center;
	justify-content: center;
	margin-left: 3.5rem;
    object-fit: cover;
    border-radius: 5px;
}

.gallery_modal img {
	margin: -7px;
    object-fit: cover;
    border-radius: 5px;
	align-items: center;
}

#title-modal {
	color: #000000;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: Work Sans;
	font-size: 26px;
	font-weight: 400;
	line-height: 30.5px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
	margin: 2rem;
}

.barre_1 {
	width: 520px;
	border: 1px 0px 0px 0px;
	margin-left: 3.5rem;
	border: 1px solid #B3B3B3
}

.image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.image-container img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}

.icon-trash {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 16px;
    color: white; /* Couleur de l'icône */
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 5px;
}

.modal-button-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
}

.add-photo-button {
	border-radius: 50px;
	font-size: 14px;
	width: 237px;
	height: 36px;
	border-radius: 60px 60px 60px 60px;
	background: #1D6154;
	color: white;
	cursor: pointer;
}

section {
	margin: 50px 0
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2 {
    font-family: 'Syne';
    font-weight: 700;
    font-size: 30px;
    color: #1D6154;
}

.fa-pen-to-square {
	font-size: 14px;
	margin-right: 0.5rem;
}

a {
    text-decoration: none;
}


#category {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 2.2rem;
	width: 438px;
	height: 51px;
	top: 1011px;
	left: 510px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px 0px #00000017;
}

.js-modal {
	color: black;
	font-size: 10px;
}

.js-modal-back {
	border: none;
	background-color: #FFFFFF;
    font-size: 24px; /* Taille de la flèche */
    width: 24px;
    height: 24px;
    cursor: pointer; 
}

.close-modal_1 {
	background-color: white; /* Couleur de fond blanche */
    border: none; /* Pas de bordure */
    font-size: 24px; /* Taille de la flèche */
    width: 24px;
    height: 24px;
	position: absolute;
	margin-left: 30rem;
	margin-top: 0rem;
    cursor: pointer;
}

.add-modal {
	display: flex;
	align-items: center;
	justify-content: center;
    background-color: #FFFFFF;
	width: 530px;
	height: 688px;
	border-radius: 10px;
	padding: 20px;
	max-width: calc(100vh - 20px);
	max-height: calc(100vh - 20px);
	overflow: auto;
}

.add-modal form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.title_modal2 {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 2rem;
	margin-left: -1.8rem;
	font-size: 24px;
}

.add-modal label {
    font-weight: bold;
    margin-bottom: -9px;
}

.file_image {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 20px;
	text-align: center;
	width: 435px;
	height: 169px;
	top: 786px;
	left: 510px;
	border-radius: 3px 0px 0px 0px;
	margin-left: 2rem;
	margin-top: 2rem;
    font-size: 14px;
    border: 1px solid #ccc;
	background: #E8F1F6;
}

.fa-image {
	font-size: 67px;
	color: #B9C5CC;
}

.button_insert {
	width: 173px;
	height: 36px;
	border-radius: 50px 50px 50px 50px;
	z-index: 0;
	background: #B9C5CC;
	color: #306685;
	border: none;
}

.insert_image {
	opacity: 0;
}

.text_insert {
	z-index: 1;
	width: 94px;
	height: 3px;
	font-family: Work Sans;
	font-size: 9px;
	font-weight: 400;
	margin-top: -1rem;
	line-height: 11.73px;
	text-align: center;
	text-underline-position: from-font;
	text-decoration-skip-ink: none;
}

#title {
	display: flex;
	align-items: center;
	justify-content: center;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 2rem;
	width: 430px;
	height: 51px;
	top: 1011px;
	left: 510px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px 0px #00000017;
}

.picture-loaded {
	display: flex;
}

.title_image {
	display: flex;
	margin-left: 2rem;
	margin-top: 2rem;
}

.text_title {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 2.2rem;
	width: 432px;
	height: 51px;
	top: 1011px;
	left: 510px;
	background: #FFFFFF;
	box-shadow: 0px 4px 14px 0px #00000017;
}

.barre {
	width: 436px;
	margin-left: 2.3rem;
}

.submit-photo-button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 8.5rem;
    background-color: grey;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
	font-size: 14px;
	border-radius: 60px 60px 60px 60px;
	width: 237px;
	height: 36px;
}

#portfolio p {
	text-align: center;
	margin: auto;
	margin-bottom: -1.5rem;
	margin-left: 18rem;
}

nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
	cursor: pointer;
}

nav a {
	color: black;
	text-decoration: none;
}

nav li {
	padding: 0 10px;
	font-size: 1.2em;
}

nav a:hover {
	color: #B1663C;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-bottom: 1em;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;

}

/* Filtres */

.filters {
	align-items: center;
	display: flex;
	gap: 15px;
	justify-content: center;
	margin-bottom: 60px;
	margin-top: 20px;
}
.filters div {
	border: 1px solid #1D6154;
	border-radius: 60px;
	color: #1D6154;
	cursor: pointer;
	font-family: 'Syne', sans-serif;
	padding: 10px 25px 10px 25px;
}

.filter-active {
    background-color: #1D6154;
    color: white !important;
}

#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em
}

